MONGODB_URI=
PORT=
SESSION_SECRET=
APP_PASSWORD=
APP_EMAIL=
APP_URL=
FRONTEND_URL=
LOGO_URL=
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
